<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Admin" connectionString="Data Source=SQL8003.site4now.net;Initial Catalog=db_a8eb91_northwind;User Id=db_a8eb91_northwind_admin;Password=Parcona2022"/>
  </connectionStrings>
</configuration>